<table>
    <thead>
    <tr>
        <th>Question</th>
        <td>
            <input type="text" ng-model="question">
        </td>
    </tr>
    <tr>
        <th>Option 1</th>
        <td>
            <input type="text" ng-model="opt1">
        </td>
    </tr>
    <tr>
        <th>Option 2</th>
        <td>
            <input type="text" ng-model="opt2">
        </td>
    </tr>
    <tr>
        <th>Option 3</th>
        <td>
            <input type="text" ng-model="opt3">
        </td>
    </tr>
    <tr>
        <th>Option 4</th>
        <td>
            <input type="text" ng-model="opt4">
        </td>
    </tr>
    <tr>
        <th>Correct</th>
        <td>
            <input type="text" ng-model="correct">
        </td>
    </tr>
    </thead>
</table>
<button ng-click="addQuestion()">Add</button>