.popup_center{
    position: absolute;
    max-height: 300px;
    min-height: 200px;
    top:0;left: 0;right: 0;bottom: 0;
    margin:auto;
}
.question_table{
    margin: 10%;
}
.question_table tr{

}
.question_collection_table{
    min-height: 200px;
    max-height: 250px;
    margin-top: 20px;
    overflow-y: auto;
}
.full_trans_bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.2);
}

.showThis{

}
.hideThis{
    display: none;
}
.hideBestAnsDiv{
    display: none;
}